* {
    padding: 0px;
    margin: 0px;
    list-style: none;
    quotes: none;
    text-decoration: unset;
    outline: none;
    border: none;
    box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
    height: 100%;
    width: 100%;
    position: relative;
    background-color: #fff;
    overflow-x: hidden;
    margin: 0px auto;
}

nav {
    padding: 10px 20px;
}

nav .brand a{
    color: black;
}

main {
    padding: 10px 10px 70px;
    position: relative;
}

main p {
    padding: 5px 0;
}

.bottom-nav {
    padding: 10px;
    background-color: #882020;
    position: fixed;
    width: 100%;
    bottom: 0;

}

.bottom-link-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bottom-nav a {
    color: white;
    cursor: pointer;
}

.bottom-nav a svg {
    width: 30px;
}

.bottom-nav a:nth-child(3) {
    transform: scale(1.5) translateY(-10px);
    background-color: white;
    border-radius: 1000px;
    width: 30px;
    height: 30px;
    border: 2px solid #882020;
    color: #882020;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 760px) {
    .bottom-nav {
        width: 100%;
        bottom: 0%;
        left: 50%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        -webkit-transform: translate(-50%,0%);
           -moz-transform: translate(-50%,0%);
            -ms-transform: translate(-50%,0%);
             -o-transform: translate(-50%,0%);
                transform: translate(-50%,0%);
    }

    .bottom-link-nav {
        position: relative;
        width: 450px;
    }

}